/* div.jumbotron ul {
    width:50%;
    height:50%;
    left:25%;
    top:25%;
    background: black;
    color: white;
    position: absolute;

} */
.btn-success {
    margin-left: 20px;
}

button.correct-answer {
    border: 5px solid green;
}
