/* div.jumbotron ul {
    width:50%;
    height:50%;
    left:25%;
    top:25%;
    background: black;
    color: white;
    position: absolute;

} */

.btn-success {
    margin-left: 20px;
}

.question-div {
    border: 1px solid black;
    margin-bottom: 25px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
}

div.jumbotron {
    background: turquoise;
}

div#game-over {
    position: fixed;
    margin-top: 20%;
    margin-left: 14%;
    background: hotpink;
    font-size: 30px;
    padding: 24px;
    z-index: 1;
    border: 11px solid black;
}

button.correct-answer {
    background: lawngreen;
}

#high-score, #timer-container {
    float: right;
    margin-right: 100px;
}

#timer-container {
  font-size: large;
  padding: 8px;
  margin-top: 10px;
  background: white;
  border: 5px solid hotpink;
  width: 133px;
  height: 54px;
  text-align: center;
}

#number-correct {
    background: lawngreen;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    width: fit-content;
    margin-top: 20px;
}

#number-incorrect {
    background: hotpink;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    width: fit-content;
}

.alert-correct {
  margin-left: 5px;
  background: lawngreen;
  padding: 10px;
  border: 3px solid white;
}

.alert-incorrect {
  margin-left: 5px;
  background: hotpink;
  padding: 10px;
  border: 3px solid white;
}

#next-question {
  margin-left: 55px;
  margin-top: 25px;
  background: black;
}

#start-game {
  color: black;
  background: lawngreen;
  border: 1px solid black;
}

#create-question, #edit-questions {
  border: 3px solid hotpink;
}

#title {
  background: white;
  padding: 20px;
  width: fit-content;
  border: 3px solid black;
  margin-bottom: 20px;
  font-weight: bold;
}

button.answer-choice {
  border: 3px solid white;
}

.question {
  font-size: x-large;
}

* {
  font-family: 'Raleway', sans-serif;
}
