/* div.jumbotron ul {
    width:50%;
    height:50%;
    left:25%;
    top:25%;
    background: black;
    color: white;
    position: absolute;

} */
.btn-success {
    margin-left: 20px;
}

.question-div {
    border: 1px solid black;
    margin-bottom: 25px;
    padding: 15px;
}

input[type="radio"] {
    display: none;
}

div.jumbotron {
    background: turquoise;
}

div#game-over {
    position: fixed;
    margin-top: 20%;
    margin-left: 14%;
    background: hotpink;
    font-size: 30px;
    padding: 24px;
    z-index: 1;
    border: 11px solid black;
}

button.correct-answer {
    border: 5px solid green;
}

#high-score, #timer-container {
    float: right;
    margin-right: 100px;
}

#timer-container {
    font-size: x-large;
    padding: 8px;
    border-radius: 50%;
}



